.pge{
	width: 800px;
	padding: 40px 0 65px 0;
}
.bg-blue{background-color: #C5D7DF;}
.title1{
	font: normal 18px Helvetica;
	color:#333399;
	text-align: center;
	padding : 10px 0 5px 0;
}
.div2{
	font: normal 15px Helvetica;
	color:#606060;
	text-align: center;
	padding : 5px 0 10px 0;
}
.div3{
	margin: 0 45px 25px 60px;
}
.fs6{
	font: normal 13px Helvetica;
	color:#000000;
	text-align: justify;
}
